---
---
@import "portfolYOU";

.project .card-img-top {
  max-height: 160px;
  object-fit: contain;
  padding: 1rem;
}

#epidemic-sound-img {
  transform: scale(0.85);
}

#papershelf-img {
  transform: scale(0.75);
}
